* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  color: #495057;
}

body table span,
body table a,
body table i {
  color: #495057;
}

body table a {
  text-decoration: none;
}

table .active-link span {
  color: #dc3545;
  font-weight: 600;
}

#navBar span {
  font-size: 16px;
}

#navBar .navbar-title,
.dashboard-statistics {
  font-size: 20px;
  font-weight: 600;
}

.card table td,
.card table th {
  border: none;
  padding: 10px 15px;
}

.card table {
  border: 1px solid rgb(222, 226, 230);
}

::placeholder {
  color: #898e92 !important;
  font-size: 14px;
}

.admin-table td,
.admin-table th {
  padding: 10px 15px;
}
